<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>UA Badminton Tournament</title>
    <!-- Bootstrap Styles-->
    <link href="static/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="static/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="static/adminCustomStyle.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        window.onload = function () {
            msg = "{{ msg }}";
            var data = JSON.parse(msg.replace(/&quot;/g, '"').replace(/&#39;/g, '"').replace(/[\u0000-\u001F]+/g, ""));
            console.log(data);
            var output = '';
            for (var i = 0; i < data.length; i++) {
                output += '<tr>';
                output += '<td>' + data[i].id + '</td>';
                output += '<td>' + data[i].first_name + '</td>';
                output += '<td>' + data[i].last_name + '</td>';
                output += '<td>' + data[i].username + '</td>';
                output += '<td>' + data[i].email + '</td>';
                output += '</tr>';
             }
            document.getElementById('playerRoaster').innerHTML = output;
        }
    </script>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{ url_for('web.home') }}>UA Badminton Tournament</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="{{url_for('user.logout')}}" >Log Out</a>
            </li>
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_dashboard') }}"><i class="fa fa-dashboard"></i>
                        HOME</a>
                </li>
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_form') }}"><i class="fa fa-edit"></i>
                        Tournament</a>
                </li>
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_events') }}"><i class="fa fa-desktop"></i>
                        Events</a>
                </li>
                <li>
                    <a class="active-menu" href="{{ url_for('admin.admin_matches') }}"><i class="fa fa-table"></i>
                        Matches</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Admin Dashboard Home <small></small>
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Player Roster
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Name</th>
                                        <th>Email ID.</th>
                                    </tr>
                                    </thead>
                                    <tbody id="playerRoaster">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<!--    <script src="assets/js/jquery-1.10.2.js"></script>-->
<!--    &lt;!&ndash; Bootstrap Js &ndash;&gt;-->
<!--    <script src="assets/js/bootstrap.min.js"></script>-->
<!--    &lt;!&ndash; Metis Menu Js &ndash;&gt;-->
<!--    <script src="assets/js/jquery.metisMenu.js"></script>-->
<!--    &lt;!&ndash; Morris Chart Js &ndash;&gt;-->
<!--    <script src="assets/js/morris/raphael-2.1.0.min.js"></script>-->
<!--    <script src="assets/js/morris/morris.js"></script>-->
<!--    &lt;!&ndash; Custom Js &ndash;&gt;-->
<!--    <script src="assets/js/custom-scripts.js"></script>-->


</body>

</html>
