<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UA Badminton Tournament</title>
	<!-- Bootstrap Styles-->
    <link href="static/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="static/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->

        <!-- Custom Styles-->
    <link href="static/adminCustomStyle.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="static/dataTables.bootstrap.css" rel="stylesheet" />
    <script>
        window.onload = function () {
            msg = "{{ msg }}";
            var data = JSON.parse(msg.replace(/&quot;/g, '"').replace(/&#39;/g, '"').replace(/[\u0000-\u001F]+/g, ""));
            console.log("Data in html: ", data);
            for (var i = 0; i < data["finished_matches"].length; i++) {
                match = data["finished_matches"][i];
                const tableRow = document.createElement('tr');
                tableRow.classList.add('odd', 'gradeX');
                const tableData1 = document.createElement('td');
                tableData1.textContent = match.id;
                const tableData2 = document.createElement('td');
                tableData2.textContent = match.match_up;
                const tableData3 = document.createElement('td');
                tableData3.textContent = match.event;
                const tableData4 = document.createElement('td');
                tableData4.textContent = match.score;
                const tableData5 = document.createElement('td');
                tableData5.textContent = match.winner;

                tableRow.appendChild(tableData1);
                tableRow.appendChild(tableData2);
                tableRow.appendChild(tableData3);
                tableRow.appendChild(tableData4);
                tableRow.appendChild(tableData5);
                document.getElementById('Finished_Matches').appendChild(tableRow);
            }

            for (var i = 0; i < data["in_progress_matches"].length; i++) {
                match = data["in_progress_matches"][i];
                const tableRow = document.createElement('tr');
                tableRow.classList.add('odd', 'gradeX');
                const tableData1 = document.createElement('td');
                tableData1.textContent = match.court_no;
                const tableData2 = document.createElement('td');
                tableData2.textContent = match.match_up;
                const tableData3 = document.createElement('td');
                tableData3.textContent = match.event;

                tableRow.appendChild(tableData1);
                tableRow.appendChild(tableData2);
                tableRow.appendChild(tableData3);
                document.getElementById('In-ProgressMatches').appendChild(tableRow);
            }

            for (var i = 0; i < data["upcoming_matches"].length; i++) {
                match = data["upcoming_matches"][i];
                const tableRow = document.createElement('tr');
                tableRow.classList.add('odd', 'gradeX');
                const tableData1 = document.createElement('td');
                tableData1.textContent = match.id;
                const tableData2 = document.createElement('td');
                tableData2.textContent = match.match_up;
                const tableData3 = document.createElement('td');
                tableData3.textContent = match.event;

                tableRow.appendChild(tableData1);
                tableRow.appendChild(tableData2);
                tableRow.appendChild(tableData3);
                document.getElementById('Upcoming_Matches').appendChild(tableRow);
            }
        }
    </script>
</head>
<body>
    <div id="wrapper-public">
        <nav class="navbar navbar-default top-navbar-public" role="navigation">
            <div class="navbar-header-public">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('web.home')}}">UA Badminton Tournament</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="{{url_for('user.signin')}}" >Log In</a>
                </li>
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu-public" href="{{url_for('web.home')}}"><i class="fa fa-dashboard"></i> HOME</a>
                    </li>
                    <li>
                        <a class="active-menu-public" href="{{url_for('web.tournament')}}"><i class="fa fa-edit"></i> Tournament</a>
                    </li>
                    <li>
                        <a class="active-menu-public" href="{{url_for('web.public_view_players')}}"><i class="fa fa-desktop"></i> Players</a>
                    </li>
                    <li>
                        <a class="active-menu-public" href="{{url_for('web.events')}}"><i class="fa fa-desktop"></i> Events</a>
                    </li>
                    <li>
                        <a class="active-menu-public" href="{{url_for('web.draws')}}"><i class="fa fa-desktop"></i> Draws</a>
                    </li>
                    <li>
                        <a class="active-menu-public" href="{{url_for('web.matches')}}"><i class="fa fa-table"></i> Matches</a>
                    </li>
                </ul>

            </div>

        </nav>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			    <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Matches <small></small>
                        </h1>
                    </div>
                </div>
                 <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-6">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 Current Active Matches on Court
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Court No.</th>
                                                <th>Match-up</th>
                                                <th>Event</th>
                                            </tr>
                                        </thead>
                                        <tbody id="In-ProgressMatches">

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                    <div class="col-md-6">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 Up-Coming Matches
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Match No.</th>
                                                <th>Match-up</th>
                                                <th>Event</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Upcoming_Matches">

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 Finished Matches
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Match No.</th>
                                                <th>Match-up</th>
                                                <th>Event</th>
                                                <th>Score</th>
                                                <th>Winner</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Finished_Matches">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
            </div>
        </div>

             <!-- /. PAGE INNER  -->
    </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
<!--    <script src="assets/js/jquery-1.10.2.js"></script>-->
<!--      &lt;!&ndash; Bootstrap Js &ndash;&gt;-->
<!--    <script src="assets/js/bootstrap.min.js"></script>-->
<!--    &lt;!&ndash; Metis Menu Js &ndash;&gt;-->
<!--    <script src="assets/js/jquery.metisMenu.js"></script>-->
<!--     &lt;!&ndash; DATA TABLE SCRIPTS &ndash;&gt;-->
<!--    <script src="assets/js/dataTables/jquery.dataTables.js"></script>-->
<!--    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>-->
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>


</body>
</html>