<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
            <div align="center" class="border2">
                <div class="header1">
                    <h1><a class="word" href="{{url_for('web.home')}}">UA Badminton Club Tournament System</a></h1>
                </div></br></br></br>
                <div class="header">
                    <h1 class="word">User Login</h1>
                </div></br></br></br>
                <h2 class="word">
                    <form action="{{ url_for('user.signin') }}" method="post">
                        <div class="msg">{{ msg }}</div></br>
                        <label>Username:</label></br>
                        <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                        <label>Password:</label></br>
                        <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
                        <input type="submit" class="btn" value="Sign In"></br></br>
                    </form>
                </h2>
                <p class="bottom">Don't have an account?  <a class="bottom" href="{{url_for('user.signup')}}"> Sign Up here</a></p>
            </div>
        </div>
    </body>
</html>